/* ==========================================================================
   Fonts
   ========================================================================== */
/*
@font-face { font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.otf') format('truetype');
}
*/
@font-face {
	font-family: 'Montserrat-UltraLight';
	src: url('../fonts/Montserrat-UltraLight.otf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.otf') format('truetype');
}

@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/Pacifico.ttf') format('truetype');
}
/* ==========================================================================
   basic layout
   ========================================================================== */

body {
	font-size: 16px;
	line-height: 1.5em;
	font-family: Montserrat-Light;
}

#about {
	padding: 60px 50px 100px;
	min-height: 600px;
}

#about .headlines {
	margin-top: 55px;
	color:#EB6E77;
}

#about p {
	margin-top: 35px;
}

.section-background-head-image {
	background: url('../img/panorama-trails-catalunya.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

.section-claim {
	margin-bottom: 50px;
	color:#EB6E77;
	text-align: center;
	font-size: 48px;
 }

.claim-image{
	margin-top: 200px;
}

.headlines {
	padding-top: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 36px;
	color:#EB6E77;
	font-family: Pacifico;
}


.section-background-middle-image {
	background: url('../img/paris.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 700px;
}

#sign-up {
	margin-top: 35%;
}

#sign-up .headlines {
	font-size: 72px;
	color: #ffffff;
	margin-bottom: 50px;
}

#sign-up input[type=email],
#sign-up input[type=password] {
	border: 0 none;
	background-color: #fff;
	font-size: 20px;
	height: 36px;
	color: #00615f;
	font-family: Montserrat-UltraLight;
}

#sign-up button {
	background-color: #00615f;
	border: 0 none;
	color: #fff;
	height: 50px;
	width: 100%;
	font-size: 18px;
	margin-top: 35px;
}

#sign-up input
{
	margin-top: 25px;
}

.spare-line {
	border-top: solid 1px #eeeeee;
	margin-top: 50px;
}

::-webkit-input-placeholder { color:#00615f !important; }
::-moz-placeholder { color:#00615f !important; } /* firefox 19+ */
:-ms-input-placeholder { color:#00615f !important; } /* ie */
input:-moz-placeholder { color:#00615f !important; }

#go-on-vacation {
	margin-top: 25px;
	margin-right: 30px;
}

#output {
	list-style: none;
	display: inline-block;
	margin-top: 10px;
}

#output li {
	height: 124px; 
	border-bottom: 1px solid rgba(46, 105, 105, 0.2);
	padding-top: 12px;
}

#output li img {
	height: 100px; 
	width: 100px;
	margin-right: 20px;
}

#output li h3 {
	margin-left: 120px;
	margin-top: -102px;
}

#output li .btn-danger {
	margin-top: 48px;
}

#menu-bar {
	background-color: #00615f;
	display: block;
	height: 50px;
}

#menu-bar a,
#menu-bar p {
	line-height: 50px;
	margin-right: 10px;
	color: #fff !important;
	border-left:1px solid #326c68;
	padding-left: 15px;
	font-family: Montserrat-UltraLight;
}

#menu-bar p:last-child {
	border-left:0 none;
}

#logout {
	cursor: pointer;
}

#logout:hover {
	text-decoration: underline;
}
// helper
.l {
	float: left;
}
.r {
	float:right;
}

.save-success {
  color: #00615f;
  font-weight: bold;
  font-size: 1.2em;
  padding: 6px 12px;
  line-height: 1.42857143;
  vertical-align: middle;
}

.btn.btn-success {
	background-color: #00615f;
}

.btn.btn-success:hover {
	background-color: #326c68;
}
/*326c68*/
